name: Gitleaks Secrets Scan

# Run the workflow on pull requests targeting the 'master' branch
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  workflow-gitleaks:
    uses: mapedraza/workflows/.github/workflows/gitleaks.yml@main
